.slides-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.slides-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.icons-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: fixed;
  top: 5px;
  width: 150px;
  z-index: 0;
}
@media (max-width: 600px) {
  .container1 {
    display: none;
  }
}

/* fixed social*/

#fixed-social > div{
    background:#DF9E33;
    margin-bottom:1px;
}
#fixed-social {
     position: fixed;
     top: 300px;
     z-index: 50;
     background:#DF9E33;
     color: #fff;
     display: block;
     height: 40px;
     text-align: center;
     line-height: 40px;
     width: 40px;
     margin-bottom: 1px;
    right: 0;
}
